.Proj13-img, .Proj12-img {
  width: 90%;
  margin-top: 72px;
  margin-left: 5%;
  margin-right: 5%;
}

.ant-back-top-content {
  background-color: rgba(0, 0, 255, 0.25);
  width: 30px;
  height: 30px;
}
.ant-back-top-content:hover {
  background-color: rgba(64, 64, 255, 1);
  transition: background-color 0.5s;
}
.ant-back-top-icon {
  margin-top: 8px;
  width: 9px;
}
.ant-back-top-icon:hover {
  margin-top: 8px;
  width: 16px;
  transition: width 0.5s;
}

.Proj .catch-reality {
  margin: -96px 25%;
  width: 50%;
}

.Proj-other .catch-reality {
  margin: -230px auto;
}

.Proj .club-data {
  margin: -96px 25%;
  width: 50%;
}

.Proj-other .club-data {
  margin: -180px auto;
}