@import "../../app.component.scss";

#bottom-bar {
  //   background-image: linear-gradient(to left, $green, $blue);
  padding: 12px;
  background-color: $black;

  position: fixed;
  bottom: 0;
  width: 100%;

  h5 {
    margin: 0px auto;
    text-align: center;
    color: #ffffff;
    font-family: $sans-serif;
    font-weight: lighter;
    cursor: default;
  }
}
